input[type="text"],
[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #fca41c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #fca41c;
}

.contenidoFormulario {
  border-radius: 5px;
  width: 35vw;
  background-color: #f2f2f2;
  padding: 20px;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centradoImagen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  .contenidoFormulario {
    border-radius: 5px;
    width: auto;
    background-color: #f2f2f2;
    padding: 10px;
  }
}
