* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Catamaran, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
/*header img:nth-child(2){
  width: 20px;

  justify-content: flex-end;
}*/

.sec1 {
  padding-left: 15vw;
  background-image: url("img/jumbo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 50vh;
}

.texto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: 50vh;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.65);
}

.texto p {
  font-size: 45px;
  color: white;
}

.botones {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5%;
}

.dateAlta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dateAlta div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 30vw;
}

.numero {
  color: white;
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numero p {
  text-align: center;
}

.dentroSec2 {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 30px;
}

.sec3 {
  display: flex;
  align-items: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 5%;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.button {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button :hover {
  background-color: orange;
}

.form-input-invalid {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: red 2px solid;
  outline: none;
}

.form-input-valid {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: green 2px solid;
  outline: none;
}

input[type="text"]:focus {
  border: 1px solid #555;
}

.formulario {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30vw;
}

.sec4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5%;
}

.dentroSec4 {
  padding-bottom: 5%;
  font-size: 30px;
}

.enlace {
  color: orange;
}

.enlacePrivacidad {
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  background: none;
  color: orange;
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
}

.enlace:hover {
  text-decoration: none;
  color: #0000cc;
  cursor: pointer;
}

.dialogo {
  padding: 15px;
  border: 1px solid orange;
  border-radius: 15px;
}

.opiniones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
}

.opinion {
  width: 25vw;
  padding-bottom: 10px;
}

.divOpinion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid black;
  width: 21vw;
}

.opinion p {
  padding-top: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
  background-color: grey;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* MEDIA QUERIES */
@media (max-width: 800px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 450px) {
  header {
    padding-left: 0;
    justify-content: center;
  }
  .sec1 {
    padding: 0;
  }
  .botones picture img {
    width: 30vw;
  }
  .texto {
    width: auto;
  }
  .texto p {
    font-size: 33px;
  }
  .dateAlta {
    flex-direction: column;
  }
  .dateAlta div:nth-child(2) {
    padding-top: 10px;
  }
  .dateAlta div:nth-child(3) {
    padding-top: 10px;
  }
  .opiniones {
    flex-direction: column;
  }
  .opinion {
    padding: 10px 10px 0px 10px;
    width: auto;
  }
  .divOpinion {
    width: auto;
  }
  .sec3 {
    flex-direction: column;
  }
  .sec3 article {
    padding: 10px;
  }
  .sec3 picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formulario {
    width: auto;
  }
  .sec4 {
    padding: 0px 10px 10px 10px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
