* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Catamaran, sans-serif;
}

header{
    display: flex;
    align-items: center;
    height: 20vh;
    padding-left: 15vw;
}

.sec1{
    padding-left: 15vw;
    background-image: url("/assets/img/jumbo.jpg");
    width: auto;
    height: 50vh;
}

.texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.65);
}

.texto p{
    font-size:45px;
    color: white;
}

.botones{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.dateAlta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dateAlta div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
}

.numero{
    color: white;
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numero p{
    text-align: center;
}

.dentroSec2{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 30px;
}

.sec3{
    display: flex;
    align-items: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 5%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: orange;
  }
  
  .formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.sec4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}

.dentroSec4{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 30px;
}

.opiniones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.opinion{
    width: 25vw;
    padding-bottom: 10px;
}

.divOpinion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    width: 21vw;
}

.opinion p{
    padding-top: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    background-color: grey;
}

/* MEDIA QUERIES */
@media (max-width: 800px){

}

@media (max-width: 1000px){

}

