<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="login.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">

    <title>login</title>
</head>
<body>                             
    <section class="formulario">
        <div class="contenidoFormulario">
            <picture class="centradoImagen">
                <img src="img/logo.svg">
            </picture>
            
            <form method="post" action={{ path('loginMaleteo') }}>
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" placeholder="Vincent Chase..">
          
                <label for="contrasenna">Contraseña</label>
                <input type="password" id="contrasenna" name="contrasenna" placeholder="vincent@mga.com">

                <input type="submit" value="Enviar">
            </form>
        </div>
    </section>
</body>
</html>