<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="animaciones.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <title>maleteo</title>
    <style>
      
    </style>
</head>
<body>
    <main>
        <header>
            {% if app.session.get("usuario") %}
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/logout">Cerrar sesión</a>
                    <a href="/opiniones">Opinar</a>
                </div>
                <div style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Bienvenido: {{ app.session.get("usuario") }}</div>
            {% else %}
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/registro">Registrarme</a>
                    <a href="/login">Login</a>
                </div>
                <div style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</div>
            {% endif %}
            <div>
                <img class="animated pulse delay-1s" src="img/logo.svg" alt="logo">
            </div>
        </header>
        <section class="sec1">
            <article class="texto">
                    <p>Gana dinero guardando equipaje a viajeros como tu</p>
                    <div class="botones">
                        <picture>
                            <img src="img/app-store.svg" alt="">
                        </picture>
                        <picture>
                            <img src="img/google-play.svg" alt="">
                        </picture>
                    </div>
                </div>
            </article>
        </section>

        <section class="sec2">
            <article class="dentroSec2">
                <p>¿Como funciona?</p>
            </article>
            <article class="dateAlta">
            {% for paso in pasos %}
                <div>
                    <p class="numero">{{ paso.id }}</p>
                    <h3>{{ paso.nombre }}</h3>
                    <p>{{ paso.descripcion }}</p>
                </div>
            {% endfor %}
            </article>
        </section>

        <section class="sec3">
                <picture>
                    <img src="img/iPhoneX.png" alt="telefono">
                </picture>
                <article>
                    <div class="formulario">
                        <form id="solicitud" name="solicitud" onsubmit="return validarAlEnviar()">
                        <p style="padding-bottom: 20px;"><b>Solicita una demo</b></p>
                          <label for="nombre">Nombre</label>
                          <input type="text" id="nombre" name="nombre" placeholder="Vincent Chase.." class="form-input">
                      
                          <label for="email">Email</label>
                          <input type="text" id="email" name="email" placeholder="vincent@mga.com" class="form-input">
                      
                          <label for="ciudad">Country</label>
                          <select id="ciudad" name="ciudad" class="form-input">
                          {% for ciudad in ciudades %}
                                <option value="{{ciudad.nombre}}" name="{{ciudad.nombre}}"> {{ciudad.nombre}} </option>
                          {% endfor %}
                          </select>
                          <input type="checkbox" id="checkbox" name="privacidad" value="1">
                            <label for="privacidad"> Aceptas la <button id="show" class="enlacePrivacidad">política de privacidad</button></label>
                          <input type="submit" value="Enviar" onclick="comprobarCheckbox()" class="button">
                        </form>
                        </div>
                </article>
        </section>

        <section class="sec4">
            <article class="dentroSec4">
                <p>Opiniones de otros guardianes</p>
            </article>
            <article class="opiniones">
            {% for opinion in opiniones %}
                <article class="opinion">
                    <div class="divOpinion">
                        <p>{{opinion.opinion}}</p>
                    </div>
                    <p>{{opinion.persona}}</p>
                    <p>{{opinion.lugar}}</p>
                </article>
            {% endfor %}    
            </article>
        </section>
        <footer>
            <picture>
                <img src="img/logo.svg" alt="logo">
            </picture>
        </footer>
    </main>
    <script> 
       function comprobarCheckbox() {
          if (document.getElementById("checkbox").checked == false) {
            alert ("Debes aceptar nuestra política de empresa");
          }
       }
       function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      
    </script>
    <script src="js/validaciones.js">
    </script>
</body>
</html>