<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <title>Opinion</title>
</head>
<body>
    <main>
        <header>
            <a href="/maleteo"><img clas="animated pulse delay-1s" src="img/logo.svg" alt="logo"></a>
        </header>
        <section class="sectionOpinion">
            {% if opinionUsuario %}
                <div class="formulario">
                    <p><b>Le recordamos que usted ya opinó</b></p><br>
                    <form method="get">
                        <p>Caracteres disponibles: <span id="cantidad">140</span></p>
                        <input type="text" id="opinion" name="opinion" maxlength="140" size="140" class="form-input" placeholder="Introduzca su opinion, tiene 140 caracteres" value="{{ opinionUsuario.opinion }}">
                        <div class="star-rating">
                            <a href="#">★</a>
                            <a href="#">★</a>
                            <a href="#">★</a>
                            <a href="#">★</a>
                            <a href="#">★</a>
                        </div>
                        <input type="submit" id="btnSubmit" name="btnSubmit" class="button"/>
                    </form>
                </div>
            {% else %}
                <div class="formulario">
                <form method="get">
                    <p>Caracteres disponibles: <span id="cantidad">140</span></p>
                    <input type="text" id="opinion" name="opinion" maxlength="140" size="140" class="form-input" placeholder="Introduzca su opinion, tiene 140 caracteres">
                    <div class="star-rating">
                        <a href="#">★</a>
                        <a href="#">★</a>
                        <a href="#">★</a>
                        <a href="#">★</a>
                        <a href="#">★</a>
                    </div>
                    <input type="submit" id="btnSubmit" name="btnSubmit" class="button"/>
                </form>
                </div>
            {% endif %}
        </section>
        <footer>
            <picture>
                <img src="img/logo.svg" alt="logo">
            </picture>
        </footer>
    </main>
    <style>
        .sectionOpinion{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60vh;
        }
        .formulario {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 50vw;
        }
        .star-rating {
            display: inline-block;
        }
        .star-rating a{
            float: right;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 20px;
            color: #95A5A6;
            text-decoration: none;
            text-align: center;
            transition: color .3s;
        }

        .star-rating a:hover{
            color: #F39C12;
        }

        .star-rating a:hover ~ a {
            color: #F39C12;
        }
    </style>
    <script>
        addEventListener('load',inicio,false);

        function inicio(){
            document.getElementById("opinion").addEventListener('keyup',presion,false);
        }

        function presion(){
            var inputCantidad = document.getElementById("opinion");
            var disponibles = 140-inputCantidad.value.length;
            document.getElementById("cantidad").innerHTML = disponibles;
        }
    </script>
</body>
</html>