<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
    <main>
        <header>
            <a href="/maleteo"><img class="animated pulse delay-1s" src="img/logo.svg" alt="logo"></a>
        </header>
        <div class="form">
             <section class="formulario">

        <div class="contenidoFormulario">
            <form id="solicitud" name="solicitud" onsubmit="return validarAlEnviar()">
            <p style="text-align:center; font-size:20px"><b>Formulario Registro</b></p>
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Vincent Chase.." required="required" class="form-input">
                      
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="vincent@mga.com" required="required" class="form-input">
                    <label id="mensajeError"></label>

                    <label for="contrasenna">Contraseña</label>
                    <input type="password" id="contrasenna" name="contrasenna" placeholder="vincent@mga.com" required="required" class="form-input">
                    <label id="mensajeError"></label>
                            
                    <label for="cp">C.P</label>
                    <input type="number" id="cp" name="cp" placeholder="codigo postal" required="required" pattern="^[00-52]{2}[0-9]{3}$" class="form-input">

                    <label for="edad">Fecha nacimiento</label>
                    <input type="date" id="fechaNac" name="fechaNac" data-date-format="YYYY/MM/DD" placeholder="fecha nacimiento" required="required" class="form-input">

                    <label for="telefono">Telefono</label>
                    <input type="text" id="tlfn" name="tlfn" placeholder="Telefono" required="required" class="form-input">

                    <label for="ciudad">Ciudad</label>
                    <select id="ciudad" name="ciudad" class="form-input">
                        <option value="madrid">Madrid</option>
                        <option value="barcelona">Barcelona</option>
                                    <option value="sevilla">Sevilla</option>
                    </select>

                    <input type="checkbox" name="privacidad" value="1" required="true" required="required">
                        <label for="privacidad"> Aceptas la <a href=""> politica de privacidad</a> </label>
                    <input type="submit" value="Enviar" class="button">        
            </form>
        </div>
        </div>
        <footer>
            <picture>
                <img src="img/logo.svg" alt="logo">
            </picture>
        </footer>
    </section>
    </main>
    <script src="js/validaciones.js">
    </script>
</body>
</html>